.app {
  background-color: #f7e5e9; /* Fondo rosa */
  text-align: center;
}

.app-header {
  background-color: #f4c9e1;
  padding: 20px;
  border-radius: 10px;
}

.app-header h1 {
  font-size: 3rem;
  color: #6b4f88;
}

.app-header p {
  font-size: 1.5rem;
  color: #8e609a;
}

.app-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.section {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.section:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
