.salud-container {
    padding: 20px;
  }
  
  .back-button {
    background-color: #f76c9e;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .form-salud input, .form-salud textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .form-salud button {
    background-color: #f76c9e;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
  }
  
  .records-list .record {
    background-color: #f8c6d4;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
  }
  